#about {
  .panel-body {
    margin: 0;
    padding: 0;
  }
  .container-fluid {
    padding: 0;
  }
  .row {
    margin: 10px 0;
  }
  label {
    font-weight: bold;
    text-align: right;
    width: 100%;
  }
  #delete {
    color: red;
  }
}

#about, #notes{
  .panel-heading{
    background-color: #fcfcfc;
  }
}
#in-notes-panel{
  .panel-heading{
    background-color: #5cb85c;
    .panel-title{
      color: #fcfcfc;
    }
  }
}
#about-row, #notes-row, #account-row, #activity-row{
  margin-left: -10px;
  margin-right: -10px;
}
#notes-button{
  padding: 0px;
  background-color: #fcfcfc;
}

#linked-account-table {
  *{
    text-align: center;
  }
}

.linked-account, .aboutLabel, .device-activity {
  font-weight: bold;
}

.activity>.panel-heading {
  font-size:18px;
  letter-spacing: -0.015em;
  font-weight: 500;
}
.usage {
  .filters {
    padding-bottom: 20px;

    label.text-semibold {
      font-weight: bold;
    }
  }
  .usage-history {
    table-layout:fixed;
    thead {
      th {
        text-align: center;
        font-weight: bold;
      }
    }
  }
}
.unlink-device{
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.unlink-device:hover{
  text-decoration: underline;
}
.select-time {
 margin-left: 10px;
}
.firmware-typeahead {
 margin-bottom: 20px;
}
//.events {
  //.usage {
    //.checkbox {
    //j input {
        //margin-right: 5px;
      //}
    //}
  //}
//}
